.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Full height minus navbar */
    margin-top: 80px; /* Push down to avoid overlapping with the navbar */
}



.gradient-custom {
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
      linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
      radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
    height: 100%;
  }

.login {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin: 20px 0;
    color: #555;
    font-size: 14px;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}